@using HackathonApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <h4>@ViewBag.errorMessage</h4>
    
    <div class="container custom-container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="~/images/logo.png" class="img-fluid" />
            </div>
            <div class="col-md-6 custom-form-1">
                <section id="loginForm">
                    <div class="card shadow-lg border-0 mt-lg-5" id="cb">
                        <div class="card-body" style="text-align:center;">
                            <h3 style="margin-bottom: 20px; text-align:center;">Log In</h3>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {

                            @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                
                                <div class="justify-content-center">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-floating mb-3 d-flex justify-content-center">
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                                </div>
                                <div class="justify-content-center">
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-floating mb-3 d-flex justify-content-center">
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                                    
                                </div>
                                <div class="form-floating mb-3">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                    <div class="form-floating mb-3" style="text-align:center;">
                                        <input type="submit" value="Log in" class="btn btn-primary" style="width:200px;" />
                                    </div>
                                    <p style="text-align:center;">
                                        @Html.ActionLink("Register as a new user", "Register")
                                    </p> @*//Enable this once you have account confirmation enabled for password reset functionality
                                <p style="text-align:center;">
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>*@}
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">or</div>
                                <div class="line-separator"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>