@model HackathonApp.Models.HomeViewModel
@{ ViewBag.Title = "Home Page"; }

@if (User.Identity.IsAuthenticated)
{


}
<div class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="inav">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#hiw" style="color:black;">How it Works?</a></li>
            <li class="nav-item"><a class="nav-link" href="#au" style="color:black;">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#hf" style="color:black;">Featured Funds</a></li>
            <li class="nav-item"><a class="nav-link" href="#faq" style="color:black;">FAQ`s</a></li>
        </ul>
    </div>
</div>
<div class="jumbotron">
    <div class="title-name">
        <div class="container">
            <h1>Heand</h1>
            <p class="lead">Giving you a helping hand</p>
            <p class="lead"><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
<div class="section2 py-5" id="hf">
    <div class="container">
        <h1 class="py-5">Highlight Fundings</h1>
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">
                    @if (Model.FundViews.Count > 0)
                    {
                        foreach (var item in Model.FundViews)
                        {
        <div class="col-md-4" style="float:left">
            <div class="card mb-3">
                <img class="card-img-top"
                     src="@Url.Content("~/images/"+item.Path)" style="width: auto; height: 200px" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-muted text-truncate">@item.Title</h4>
                    <p class="card-text text-muted text-truncate">
                        @item.Story
                    </p>
                    <input type="button" class="btn btn-primary btn-lg" id="bt" onclick="location.href = '@Url.Action("FundDetail","Fund", new { id = item.Id })'" value="Donate Now!"/>
                    @if (item.IsLiked == true)
                    {
                    <img src="~/images/unlike.png" style="cursor: pointer; margin-left: 50px;" onclick="location.href='@Url.Action("IReact", "Home", new { id = item.Id })'" width="40" height="40" /> }
                    else
                    {
                    <img src="~/images/like.png" style="cursor: pointer; margin-left: 50px; " onclick="location.href='@Url.Action("IReact", "Home", new { id = item.Id })'" width="40" height="40" />}
                                    </div>
                                </div>
                            </div>

                        }
                    }


                </div>
                <!--/.First slide-->

            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
        <p class="lead py-5">
            <button class="btn btn-primary btn-lg" id="bt" onclick="location.href = '@Url.Action("ViewMoreFunds", "Home")'">View More</button>
        </p>

    </div>
</div>
<div class="section3 py-5" id="hiw">
    <div class="container">
        <h1 class="py-5" style="text-align: center;">How it Works</h1>
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="col-md-4" style="float:left">
                        <div class="card mb-2">
                            <div class="card-body">
                                <img class="card-img-top" src="~/images/icon1.png" alt="Card image cap">
                                <h4 class="card-title">Share your Business Story / Plan</h4>
                                <p class="card-text">
                                    You can post your existing business status and needs or propose a brand new business you want to start. Make an impact and gain attention.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="float:left">
                        <div class="card mb-2">
                            <div class="card-body">
                                <img class="card-img-top" src="~/images/icon3.png" alt="Card image cap">
                                <h4 class="card-title">Gain Funds</h4>
                                <p class="card-text">
                                    Put all the things that your business needs, from pen, paper to the actual product for transparency of what
                                    you will be doing to the funds that you need.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="float:left">
                        <div class="card mb-2">
                            <div class="card-body">
                                <img class="card-img-top" src="~/images/icon2.png" alt="Card image cap">
                                <h4 class="card-title">Donate Funds</h4>
                                <p class="card-text">
                                    Browse and donate funds from various talents. Help them achieve their big dream.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.First slide-->



            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
    </div>
</div>
<div class="section4 py-5" id="au">
    <div class="container">
        <h1 class="py-lg-5" style="text-align: center;">TECH STACK</h1>
        <p class="lead py-lg-5" style="text-align: center;">MEET OUR TEAMS</p>
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Djulianne</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Steven</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Ceejay</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Mark</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.First slide-->



            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
    </div>
</div>

<div class="section6" id="faq">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 padding-20">

                <!-- ARTICLE CATEGORIES SECTION -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="fb-heading">
                            <h1>Frequently Asked Questions</h1>
                        </div>
                        <hr class="style-three">
                        <div class="row">
                            <div class="col-md-12">

                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    How can you donate?
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                Choose a business to donate, heand appreciate any amount of donation. The payment method is Paypal.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    How do the beneficiary get his/her money?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                The beneficiary will need to set up a Paypal Account. We will be sending the raised funds to your PayPal account.
                                                Note: Paypal transfer fee will automatically be deducted on the amount withdrawn.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Are there any fees?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                Yes, a total fee of 2% will be deducted on the successful funds that the beneficiary will raise. To maintain Heand's service?? Hahaha di ko kasentence huhu
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END ARTICLES CATEOGIRES SECTION -->
        </div>
    </div>
</div>