@model IEnumerable<HackathonApp.Models.Fund>

@{
    ViewBag.Title = "ListOfFunds";
}

<h2>ListOfFunds</h2>

<p>
    @Html.ActionLink("Create New", "CreateFundProject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Story)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountNeeded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountAcquired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Story)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountNeeded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountAcquired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Userid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
